%game-menu-component{
  background-color: black;
  position:absolute;
  height: 100%;
  width:100%;
  opacity: .9;
}

.game-menu-component{
  @extend %game-menu-component;
}

.game-menu-message{
  font-family: 'modalfont';

  //font-size: 30px;
  //line-height: 50px;
  font-size: 1.8vw;
  line-height: 2.6vw;

  //text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  text-shadow: 0 0 3px black, 0 0 10px rgba(255,255,255,1) , 0 0 15px rgba(255,255,255,1) , 0 0 25px rgba(255,255,255,1) , 0 0 30px #0033ff , 0 0 40px #0065ff , 0 0 50px #00b6ff , 0 0 60px #00ffdd ;
  //color: rgba(255,255,255,1);
  //text-decoration: normal;
  //text-align: center;
  //white-space: pre;
  //text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
  //transition: all 200ms cubic-bezier(0.2, 0, 0.58, 1);

}


.start-game-button {
  font-family: 'press-start';
  text-align: center;
  vertical-align: middle;
  //margin-left: calc(50% - 5.0vw);
  cursor:pointer;
  //font-size: 75px;
  font-size: 5.0vw;

  //width: 75px;
  //height: 40px;
  //
  //
  //background: #14c929;
  //background-image: -webkit-linear-gradient(top, #14c929, #177006);
  //background-image: -moz-linear-gradient(top, #14c929, #177006);
  //background-image: -ms-linear-gradient(top, #14c929, #177006);
  //background-image: -o-linear-gradient(top, #14c929, #177006);
  //background-image: linear-gradient(to bottom, #14c929, #177006);
  //-webkit-border-radius: 7;
  //-moz-border-radius: 7;
  //border-radius: 7px;
  //text-shadow: 1px 1px 3px #666666;
  //-webkit-box-shadow: 2px 2px 3px #666666;
  //-moz-box-shadow: 2px 2px 3px #666666;
  //box-shadow: 2px 2px 3px #666666;

  //color: #ffffff;
  //font-size: 26px;
  //padding: 10px 20px 10px 20px;
  //text-decoration: none;
}

.start-game-button:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
//  background: #00e61b;
//  background-image: -webkit-linear-gradient(top, #00e61b, #00ad17);
//  background-image: -moz-linear-gradient(top, #00e61b, #00ad17);
//  background-image: -ms-linear-gradient(top, #00e61b, #00ad17);
//  background-image: -o-linear-gradient(top, #00e61b, #00ad17);
//  background-image: linear-gradient(to bottom, #00e61b, #00ad17);
//  text-decoration: none;
}


@font-face {
  font-family: 'modalfont';
  src: url('../src/fonts/alienencounters.ttf')  format('truetype')
}

@font-face {
  font-family: 'press-start';
  src: url('../src/fonts/prstart.ttf')  format('truetype')
}