%modal-component{
  //background-color: blue;
  position: fixed;
  //text-align:center;
  vertical-align: middle;
  padding-top:10%;
  width: 100%;
  height:100%;
  top:0;
  left:0;
  overflow: hidden;
  z-index:1000;


  //position: fixed;
  //top: -50%;
  //left: -50%;
  //width: 200%;
  //height: 200%;
  img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    z-index:-1;
  }

}

@font-face {
  font-family: 'modalfont';
  src: url('../src/fonts/alienencounters.ttf')  format('truetype')
}

.modal-component{
  @extend %modal-component;
}

.modal-content{

  font-family: 'modalfont';


  //background: radial-gradient(ellipse at center, rgba(157,187,204,1) 0%,rgba(124,142,165,1) 76%,rgba(124,142,165,1) 76%,rgba(105,121,147,1) 100%);

  //background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  //box-shadow: 10px 10px 27px 3px rgba(0,0,0,0.4);


  //text-align:left;
  color:white;
  opacity:0.9;
  width: 75%;
  min-height: 25%;
  margin-left:12.5%;
  margin-right:12.5%;
  padding:40px;
  //@extend %round-all-by-7;
  border-radius: 6px;
  .close-button{
    //@extend %button;
    //width:30px;
    //height: 30px;
    //margin-left:95%;
    //
    //background-color: transparent;
    //border-radius: 5px;
    //border: none;
    //font-size: 30px;
    display:none;
  }
}

#bg{

}