%top-bar-component{
  position:absolute;
  z-index: 100;
  width: 100%;
  height: 30px;
  //background-color: white;
  opacity: .5;

  .player-hit-points{
    @extend %player-hit-points;
  }
}

%player-hit-points{
  display:inline-block;
  width: 20%;
  padding: 2px;
  height: 100%;
  vertical-align: middle;
  color: gray;
  font-size:40px;
}

.earth-hit-points{
  @extend %player-hit-points;
}

.player-score{
  @extend %player-hit-points;
  width:30%;
}

.player-location{
  @extend %player-hit-points;
  width: 28%;
  font-size:20px;
}



.top-bar-component{
  @extend %top-bar-component;
}