.tower-upgrade-menu{
  @extend %tower-upgrade-menu;
}
%tower-upgrade-menu{
  position: absolute;
  right: 0; //position on right of screen
  height: 50%;
  top: 25%; //position in middle of screen.
  width: 100px;
  background-color: green;
  color: white;

}

upgrade-tower-button{
  display:block;
  padding: 10px;
  &.disabled{
    background-color: darkgray;
    color: gray;
  }
}

sell-tower-button{
  display: block;
  padding: 10px;
  &.disabled{
    background-color: darkgray;
    color: gray;
  }
}

purchasable-towers{
  display: block;
}

purchasable-tower{
  display: grid;
  background-color: yellow;
  padding: 5px;
  border: 1px solid black;
  grid-template-columns: 50% 50%;
  grid-template-areas:
          "label label"
          "cost cost";
  cost {
    display: block;
    grid-area: cost;
  }
  label{
    display: block;
    grid-area: label;
  }
  type{
    display: block;
  }
}